@use '../../variables.scss' as v;


.exit, .box1, .box2, .light, .chest {
    cursor: help !important;
}

.door {
    height: 15vh;
    width: 3vw;
}
.exit {
    height: 13vh;
    width: 2.8vw;
}
// right
.box1 {
    height: 10vh;
    width: 5vw;
}
// left
.box2 {
    height: 9vh;
    width: 3vw;
}
.light {
    height: 5vh;
    width: 5vw;
}