@use "variables.scss" as v;

@import url(https://fonts.googleapis.com/css?family=Phudu:300,regular,500,600,700,800,900);
// @import "https://unpkg.com/@egjs/view360@latest/css/view360.min.css";

@import url(https://fonts.googleapis.com/css?family=Press+Start+2P:regular);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  // border: 1px solid #ff000083;
  cursor: crosshair;
}

html,
body,
#app {
  border: none;
  background-color: #0a0a0a;
  overflow: hidden;
}

#app {
  @include v.flex(column, space-between, center, nowrap);
  min-height: 100%;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.scene {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  border-radius: 30px;
}

.view360-container {
  width: 100vw;
  height: 100vh;
  aspect-ratio: 16 / 9;
  canvas {
    height: 100%;
    width: 100%;
  }
}

// .scene {
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
// }

.link {
  cursor: alias;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  a {
    min-width: 100%;
    min-height: 100%;
  }
}

a {
  color: #fff;
  text-decoration: none;
  cursor: alias;
}

.view360-hotspot {
  // position: absolute;
  // border: 1px solid #fff;
  cursor: pointer;
}

.dialogue-trigger {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

// main menu

.menu {
  @include v.flex(column, space-between, flex-start, nowrap);
  color: #fff;
  min-height: 60vh;
  min-width: 100%;
  padding: 40px;
  // gap: 20px;
  h1,
  h2,
  a {
    font-family: "Press Start 2P", cursive;
    font-weight: normal;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 1.3em;
    color: #e2e2e2;
  }
  .title,
  .buttons {
    @include v.flex(column, space-between, flex-start, nowrap);
    gap: 20px;
  }

  a {
    font-size: 1.5em;
    margin-left: 40px;
    &:hover {
      margin-left: 0;
      &::before {
        content: "\003E";
        margin-right: 16px;
        transition: margin-right 0.1s ease-out, margin-left 0.1s ease-out;
      }
    }
    &:active::before {
      margin-right: 8px;
      margin-left: 8px;
    }
  }
}

// fullscreen failsafe

// :not(:fullscreen) .scene .view360-container {
//     display: none;
// }
// :fullscreen .scene .view360-container {
//     display: inherit;
// }


// inventory

#inventory {
  @include v.flex(column, flex-start, stretch, nowrap);
  z-index: 5;
  color: #fff;
  position: absolute;
  right: 5px;
  top: 40%;
  bottom: 50%;
  height: 300px;
  width: 50px;
  backdrop-filter: blur(15px);
  background-color: #0a0a0a3d;
  border-radius: 10px;
  gap: 10px;
  cursor: help;
  // padding: 2px;
}

.inv-item {
  @include v.flex(row, center, center, nowrap);
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background-color: #0a0a0a3d;
  cursor: pointer;
  * {
    cursor: pointer;
  }
  &:hover {
    background-color: #57575734;
    span {
      transform: scale(1.1);
    }
  }
  span {
    transition: transform 0.1s ease-out;
  }
}

